<html lang="kor"><head>
	<title>공실앤톡</title>
	<link rel="shortcut icon" href="images/favicon.png">

	<!--메타 : 메타 태그만 사용-->
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

	<!--내부 기본 CSS : 내부에서 생성한 CSS만 사용-->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/common_responsive.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style_responsive.css">

	<!--외부 CSS : 외부 모듈에서 제공된 CSS만 사용-->
	<link rel="stylesheet" href="css/swiper-bundle.min.css">

	<!--외부 CSS 커스텀 : 외부 모듈 적용 후 자체적으로 CSS변경 한 경우만 사용-->
	<link rel="stylesheet" href="css/outside.css">

	<!--내부 기본 JS : 내부에서 생성한 JS 경우만 사용 하며. 이를 사용하기 위한 라이브러만사용(jquery.js) -->
	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/common.js"></script>

	<!--외부 JS : 외부 모듈에서 제공된 JS만 사용-->
	<script src="js/swiper.jquery.js"></script>
	<script src="js/swiper-bundle.min.js"></script>


  <body>
    <!-- header : s -->
    <header>
      <a href="main.html"><img src="images/header_logo.png" class="header_logo" alt="공실앤톡"></a>
      <ul class="gnb">
        <li><a href="sales_list.html">실시간 분양현장</a></li>
        <li><a href="map.html">빅데이터/매물지도</a></li>
        <li class="active"><a href="community_contents_list.html">커뮤니티</a></li>
        <li><a href="my_main.html">마이메뉴</a></li>
      </ul>
      <div>
        <ul class="util_menu">
            <li><a href="login.html">로그인</a></li>
            <li><a href="join_reg.html">회원가입</a></li>
            <li><a href="realtor_join_reg.html">중개사 가입</a></li>
        </ul>
      </div>
    </header>
    <!-- header : e -->

    <!----------------------------- m::header bar : s ----------------------------->
    <div class="m_header">
        <div class="left_area"><a href="javascript:history.go(-1)"><img src="images/header_btn_back.png"></a></div>
        <div class="m_title">게시글 검색</div>
        <div class="right_area"></div>
      </div>
      <!----------------------------- m::header bar : s ----------------------------->
  
    <div class="body gray_body">
      <div class="community_wrap">
        <div class="community_area" >
            <!-- community body : s -->
            <div class="community_inner_wrap">
                <div class="community_search_wrap flex_between">
                    <input type="text" id="search_input" value="공실앤톡 App">
                    <img src="images/btn_solid_delete.png" alt="del" class="btn_del">
                    <button ><img src="images/btn_search.png" alt="검색"></button>
               </div>
            </div>

            <!-- tab : s -->
            <div class="tab_type_2 type_basic mt8">
                <div class="swiper detail_tab">
                    <div class="swiper-wrapper menu">
                    <div class="swiper-slide active"><a href="#">공톡 컨텐츠</a></div>
                    <div class="swiper-slide"><a href="#">커뮤니티</a></div>
                    </div>
                </div>
            </div>
            <!-- tab : s -->

            <div class="community_inner_wrap mt20">
                <div class="list_sort_wrap">
                    <span>검색결과 154건</span>
                    <ul class="list_sort toggle_tab ">
                        <li class="active"><a href="#">최신순</a></li>
                        <li><a href="#">추천순</a></li>
                    </ul>
                </div>

                <!-- community list : s -->
                <div class="community_list">
                    <li>
                        <span class="community_category">공톡 유튜브</span>
                        <a href="community_detail.html" class="community_list_link mt8">
                            <div class="community_row_wrap">
                                
                                <div class="community_row_body">
                                    <h3><span class="txt_point">공실앤톡 App</span> - 수익률 계산기 편 제목이 길어지면</h3>
                                    <div class="txt_item_1">공실앤톡 app 사용 방법 수익률 계산기편입니다. 부동산 수익률이 궁금할 때 공실앤톡 앱을 통해서</div>
                                    <div class="txt_item_2 mt8">
                                        <span>2023.04.02 · </span>
                                        <span>추천 12 · </span>
                                        <span>댓글 278</span>
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="community_row_img">
                                <div class="img_box">
                                    <img src="images/s_1.png">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <span class="community_category">공톡 매거진</span>
                        <a href="community_detail.html" class="community_list_link mt8">
                            <div class="community_row_wrap">
                                <div class="community_row_body">
                                    <h3><span class="txt_point">공실앤톡 App</span> - 수익률 계산기 편 제목이 길어지면</h3>
                                    <div class="txt_item_1">공실앤톡 app 사용 방법 수익률 계산기편입니다. 부동산 수익률이 궁금할 때 공실앤톡 앱을 통해서</div>
                                    <div class="txt_item_2 mt8">
                                        <span>2023.04.02 · </span>
                                        <span>추천 12 · </span>
                                        <span>댓글 278</span>
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="community_row_img">
                                <div class="img_box">
                                    <img src="images/s_1.png">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <span class="community_category">자유글</span>
                        <a href="community_detail.html" class="community_list_link mt8">
                            <div class="community_row_wrap">
                                <div class="community_row_body">
                                    <h3><span class="txt_point">공실앤톡 App</span> - 수익률 계산기 편 제목이 길어지면</h3>
                                    <div class="txt_item_1">공실앤톡 app 사용 방법 수익률 계산기편입니다. 부동산 수익률이 궁금할 때 공실앤톡 앱을 통해서</div>
                                    <div class="txt_item_2 mt8">
                                        <span>2023.04.02 · </span>
                                        <span>추천 12 · </span>
                                        <span>댓글 278</span>
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="community_row_img">
                                <div class="img_box">
                                    <img src="images/s_1.png">
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
                <!-- community list : e -->

              
                
                

                
            </div>
            <!-- community body : e -->
            
        </div>

        

        <!-- nav : s -->
        <nav>
            <ul>
              <li>
                <a href="main.html"><span><img src="images/mcnu_ic_1.png" alt=""></span>홈</a>
              </li>
              <li>
                <a href="sales_list.html"><span><img src="images/mcnu_ic_2.png" alt=""></span>분양현장</a>
              </li> 
              <li>
                <a href="map.html"><span><img src="images/mcnu_ic_3.png" alt=""></span>지도</a>
              </li> 
              <li class="active">
                <a href="community_contents_list.html"><span><img src="images/mcnu_ic_5.png" alt=""></span>커뮤니티</a>
              </li>
              <li>
                <a href="my_main.html"><span><img src="images/mcnu_ic_4.png" alt=""></span>마이페이지</a>
              </li>
            </ul>
          </nav>
          <!-- nav : e -->
        
        
      </div>
        
    </div>


    <!-- footer : s -->
    <footer>
      <div class="inner_wrap row">
        <div class="footer_info">
          언론보도 : gongsil_ntalk@naver.com<br>
          대표문의 : gongsil_ntalk@naver.com<br>
          상담문의 : 1600-5734
        </div>
        <div class="footer_info">
          주식회사 공실앤톡<br>
          대표 : 임요섭<i>|</i>사업자 등록 번호 : 291-81-02340<i>|</i>경기도 화성시 동탄기흥로557 금강펜테리움IT타워
        </div>
        <p class="copyright">Copyright ⓒ 주식회사 공실앤톡. All rights reserved.</p>
      </div>
    </footer>
    <!-- footer : s -->
</body>
</html>
