<html lang="kor"><head>
	<title>공실앤톡</title>
	<link rel="shortcut icon" href="images/favicon.png">

	<!--메타 : 메타 태그만 사용-->
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

	<!--내부 기본 CSS : 내부에서 생성한 CSS만 사용-->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/common_responsive.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style_responsive.css">

	<!--외부 CSS : 외부 모듈에서 제공된 CSS만 사용-->
	<link rel="stylesheet" href="css/swiper-bundle.min.css">

	<!--외부 CSS 커스텀 : 외부 모듈 적용 후 자체적으로 CSS변경 한 경우만 사용-->
	<link rel="stylesheet" href="css/outside.css">

	<!--내부 기본 JS : 내부에서 생성한 JS 경우만 사용 하며. 이를 사용하기 위한 라이브러만사용(jquery.js) -->
	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/common.js"></script>

	<!--외부 JS : 외부 모듈에서 제공된 JS만 사용-->
	<script src="js/swiper.jquery.js"></script>
	<script src="js/swiper-bundle.min.js"></script>


  <body>
    <!-- header : s -->
    <header>
      <a href="main.html"><img src="images/header_logo.png" class="header_logo" alt="공실앤톡"></a>
      <ul class="gnb">
        <li><a href="sales_list.html">실시간 분양현장</a></li>
        <li><a href="map.html">빅데이터/매물지도</a></li>
        <li class="active"><a href="community_contents_list.html">커뮤니티</a></li>
        <li><a href="my_main.html">마이메뉴</a></li>
      </ul>
      <div>
        <ul class="util_menu">
            <li><a href="login.html">로그인</a></li>
            <li><a href="join_reg.html">회원가입</a></li>
            <li><a href="realtor_join_reg.html">중개사 가입</a></li>
        </ul>
      </div>
    </header>
    <!-- header : e -->
  
    <div class="body gray_body">
      <div class="community_wrap">
        <div class="community_area" >
            <!-- community top : s -->
            <div class="community_inner_wrap">
                <div class="header_bar">
                    <div>
                        <a href="community_contents_list.html"><img src="images/header_btn_back.png"></a>
                    </div>
                    <div><h4>게시글 검색</h4></div>
                    <div></div>
                </div>
            </div>
            <!-- community top : e -->

            <!-- community body : s -->
            <div class="community_inner_wrap search_page">
                <div class="community_search_wrap flex_between">
                    <input type="text" id="search_input" placeholder="검색어를 입력해주세요.">
                    <img src="images/btn_solid_delete.png" alt="del" class="btn_del">
                    <button onclick="location.href='community_search_list.html'"><img src="images/btn_search.png" alt="검색"></button>
               </div>

               <div class="flex_between mt20">
                    <div class="txt_point">최근 검색</div>
                    <button class="gray_basic" onclick="search_all_item()">전체 삭제</button>
               </div>

               <ul class="search_word_list mt8">
                    <li class="search_item">
                        <a href="community_search_list.html" class="gray_deep">공실앤톡 App</a>
                        <button onclick="search_item(this)"><img src="images/list_delete.png" class="ic_16"></button>
                    </li>
                    <li class="search_item">
                      <a href="community_search_list.html" class="gray_deep">이벤트</a>
                        <button onclick="search_item(this)"><img src="images/list_delete.png" class="ic_16"></button>
                    </li>
               </ul>
            </div>
            <script>
                // 최근 검색어 삭제
                function search_item(button) {
                    var li = button.parentNode;
                    li.parentNode.removeChild(li);
                }
                // 전체 검색어 삭제
                function search_all_item() {
                    var list = document.querySelectorAll('.search_item');
                    for (var i = 0; i < list.length; i++) {
                        list[i].parentNode.removeChild(list[i]);
                    }
                }
            </script>
            <!-- community body : e -->
            
        </div>

        

        <!-- nav : s -->
        <nav>
            <ul>
              <li>
                <a href="main.html"><span><img src="images/mcnu_ic_1.png" alt=""></span>홈</a>
              </li>
              <li>
                <a href="sales_list.html"><span><img src="images/mcnu_ic_2.png" alt=""></span>분양현장</a>
              </li> 
              <li>
                <a href="map.html"><span><img src="images/mcnu_ic_3.png" alt=""></span>지도</a>
              </li> 
              <li class="active">
                <a href="community_contents_list.html"><span><img src="images/mcnu_ic_5.png" alt=""></span>커뮤니티</a>
              </li>
              <li>
                <a href="my_main.html"><span><img src="images/mcnu_ic_4.png" alt=""></span>마이페이지</a>
              </li>
            </ul>
          </nav>
          <!-- nav : e -->
        
        
      </div>
        
    </div>


    <!-- footer : s -->
    <footer>
      <div class="inner_wrap row">
        <div class="footer_info">
          언론보도 : gongsil_ntalk@naver.com<br>
          대표문의 : gongsil_ntalk@naver.com<br>
          상담문의 : 1600-5734
        </div>
        <div class="footer_info">
          주식회사 공실앤톡<br>
          대표 : 임요섭<i>|</i>사업자 등록 번호 : 291-81-02340<i>|</i>경기도 화성시 동탄기흥로557 금강펜테리움IT타워
        </div>
        <p class="copyright">Copyright ⓒ 주식회사 공실앤톡. All rights reserved.</p>
      </div>
    </footer>
    <!-- footer : s -->
</body>
</html>
