<html lang="kor"><head>
	<title>공실앤톡</title>
	<link rel="shortcut icon" href="images/favicon.png">

	<!--메타 : 메타 태그만 사용-->
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

	<!--내부 기본 CSS : 내부에서 생성한 CSS만 사용-->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/common_responsive.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style_responsive.css">

	<!--외부 CSS : 외부 모듈에서 제공된 CSS만 사용-->
	<link rel="stylesheet" href="css/swiper-bundle.min.css">

	<!--외부 CSS 커스텀 : 외부 모듈 적용 후 자체적으로 CSS변경 한 경우만 사용-->
	<link rel="stylesheet" href="css/outside.css">

	<!--내부 기본 JS : 내부에서 생성한 JS 경우만 사용 하며. 이를 사용하기 위한 라이브러만사용(jquery.js) -->
	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/common.js"></script>

	<!--외부 JS : 외부 모듈에서 제공된 JS만 사용-->
	<script src="js/swiper.jquery.js"></script>
	<script src="js/swiper-bundle.min.js"></script>


  <body>
    <!-- header : s -->
    <header>
      <a href="main.html"><img src="images/header_logo.png" class="header_logo" alt="공실앤톡"></a>
      <ul class="gnb">
        <li><a href="sales_list.html">실시간 분양현장</a></li>
        <li><a href="map.html">빅데이터/매물지도</a></li>
        <li class="active"><a href="community_contents_list.html">커뮤니티</a></li>
        <li><a href="my_main.html">마이메뉴</a></li>
      </ul>
      <div>
        <ul class="util_menu">
            <li><a href="login.html">로그인</a></li>
            <li><a href="join_reg.html">회원가입</a></li>
            <li><a href="realtor_join_reg.html">중개사 가입</a></li>
        </ul>
      </div>
    </header>
    <!-- header : e -->
  
    <div class="body gray_body">
      <div class="community_wrap">
        <div class="community_area" >
            
           

            <!-- community body : s -->
            <div class="community_inner_wrap">
                <div class="header_bar">
                    <div>
                        <a href="community_contents_list.html"><img src="images/header_btn_back.png"></a>
                    </div>
                    <div>신규 게시글 작성</div>
                    <div></div>
                </div>

                <ul class="reg_bascic mt20">
                    <li>
                      <select class="w_50">
                        <option>게시판 선택</option>
                        <option>자유글</option>
                        <option>질문/답변</option>
                        <option>후기</option>
                        <option>노하우</option>
                      </select>
                    </li>
                    <li>
                        <input type="text" placeholder="제목을 입력해주세요.">
                    </li>
                    <li>
                        <textarea placeholder="내용을 입력해주세요."></textarea>
                    </li>
                </ul>

                <!-- 사진 등록 : s -->
                <div class="flex_between">
                    <h6>사진 등록</h6>
                    <p class="gray_basic">최대 8장 업로드 가능 <span class="txt_point">7</span> / 8</p>
                </div>
                <div class="img_add_wrap">
                    <div class="cell">
                        <!-- <img src="images/mark_rep.png" class="add_img_mark"> -->
                        <img src="images/btn_img_delete.png" class="btn_img_delete">
                        <div class="img_box"><img src="images/s_2.png"></div>
                    </div>
                    <div class="cell">
                        <img src="images/btn_img_delete.png" class="btn_img_delete">
                        <div class="img_box"><img src="images/s_2.png"></div>
                    </div>
                    <div class="cell">
                        <img src="images/btn_img_delete.png" class="btn_img_delete">
                        <div class="img_box"><img src="images/s_2.png"></div>
                    </div>
                    <div class="cell">
                        <img src="images/btn_img_delete.png" class="btn_img_delete">
                        <div class="img_box"><img src="images/s_2.png"></div>
                    </div>
                    <div class="cell">
                        <img src="images/btn_img_delete.png" class="btn_img_delete">
                        <div class="img_box"><img src="images/s_2.png"></div>
                    </div>
                    <div class="cell">
                        <img src="images/btn_img_delete.png" class="btn_img_delete">
                        <div class="img_box"><img src="images/s_2.png"></div>
                    </div>
                    <div class="cell">
                        <button>
                            <div class="img_box"><img src="images/btn_img_add.png"></div>
                        </button>
                    </div>
                  </div>
                <!-- 사진 등록 : e -->

                <div class="mt20">
                    <button class="btn_point btn_full_basic" onclick="modal_open('reg')">게시글 등록</button>
                </div>
            </div>
            <!-- community body : e -->
            
        </div>

        

        <!-- nav : s -->
        <nav>
            <ul>
              <li>
                <a href="main.html"><span><img src="images/mcnu_ic_1.png" alt=""></span>홈</a>
              </li>
              <li>
                <a href="sales_list.html"><span><img src="images/mcnu_ic_2.png" alt=""></span>분양현장</a>
              </li> 
              <li>
                <a href="map.html"><span><img src="images/mcnu_ic_3.png" alt=""></span>지도</a>
              </li> 
              <li class="active">
                <a href="community_contents_list.html"><span><img src="images/mcnu_ic_5.png" alt=""></span>커뮤니티</a>
              </li>
              <li>
                <a href="my_main.html"><span><img src="images/mcnu_ic_4.png" alt=""></span>마이페이지</a>
              </li>
            </ul>
          </nav>
          <!-- nav : e -->
        
        
      </div>
        
    </div>

    <!-- modal 등록 : s -->
    <div class="modal modal_reg">
              
      <div class="modal_container">
        <div class="modal_mss_wrap">
          <p class="txt_item_1">게시글을 등록하시겠습니까?</p>
        </div>
        
        <div class="modal_btn_wrap">
          <button class="btn_gray btn_full_thin" onclick="modal_close('reg')">취소</button>
          <button class="btn_point btn_full_thin" onclick="location.href='community_detail.html'">게시글 등록</button>
        </div>
      </div>
        
    </div>
    <div class="md_overlay md_overlay_reg" onclick="modal_close('reg')"></div>
    <!-- modal 등록 : e -->


    <!-- footer : s -->
    <footer>
      <div class="inner_wrap row">
        <div class="footer_info">
          언론보도 : gongsil_ntalk@naver.com<br>
          대표문의 : gongsil_ntalk@naver.com<br>
          상담문의 : 1600-5734
        </div>
        <div class="footer_info">
          주식회사 공실앤톡<br>
          대표 : 임요섭<i>|</i>사업자 등록 번호 : 291-81-02340<i>|</i>경기도 화성시 동탄기흥로557 금강펜테리움IT타워
        </div>
        <p class="copyright">Copyright ⓒ 주식회사 공실앤톡. All rights reserved.</p>
      </div>
    </footer>
    <!-- footer : s -->
</body>
</html>
