<html lang="kor">
  <head>
	<title>공실앤톡</title>
	<link rel="shortcut icon" href="images/favicon.png">

	<!--메타 : 메타 태그만 사용-->
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

	<!--내부 기본 CSS : 내부에서 생성한 CSS만 사용-->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/common_responsive.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style_responsive.css">

	<!--외부 CSS : 외부 모듈에서 제공된 CSS만 사용-->
	<link rel="stylesheet" href="css/swiper-bundle.min.css">


	<!--내부 기본 JS : 내부에서 생성한 JS 경우만 사용 하며. 이를 사용하기 위한 라이브러만사용(jquery.js) -->
	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/common.js"></script>

	<!--외부 JS : 외부 모듈에서 제공된 JS만 사용-->
	<script src="js/swiper.jquery.js"></script>
	<script src="js/swiper-bundle.min.js"></script>
</head>

  <body>
    <!-- header : s -->
    <header>
      <a href="main.html"><img src="images/header_logo.png" class="header_logo" alt="공실앤톡"></a>
      <ul class="gnb">
        <li><a href="sales_list.html">실시간 분양현장</a></li>
        <li><a href="map.html">빅데이터/매물지도</a></li>
        <li><a href="community_contents_list.html">커뮤니티</a></li>
        <li class="active"><a href="my_main.html">마이메뉴</a></li>
      </ul>
      <div>
        <ul class="util_menu">
            <li><a href="login.html">로그인</a></li>
            <li><a href="join_reg.html">회원가입</a></li>
            <li><a href="realtor_join_reg.html">중개사 가입</a></li>
        </ul>
      </div>
    </header>
    <!-- header : e -->

    <!----------------------------- m::header bar : s ----------------------------->
    <div class="m_header">
        <div class="left_area"><a href="javascript:history.go(-1)"><img src="images/header_btn_back.png"></a></div>
        <div class="m_title">매물 등록 <span class="gray_basic"><span class="txt_point">2</span>/3</span></div>
        <div class="right_area"></div>
    </div>
    <!----------------------------- m::header bar : s ----------------------------->
  
    <div class="body">
        
        <!-- my_body : s -->
        <div class="inner_mid_wrap m_inner_wrap mid_body">
            <h1 class="t_center only_pc">매물 등록하기 <span class="step_number"><span class="txt_point">2</span>/3</span></h1>

            <div class="offer_step_wrap">
                <div class="box_01 box_reg">
                    <h4>위치 및 주소 <span class="txt_point">*</span></h4>

                    <div class="address_reg_wrap">
                        <div class="inner_item">
                            <div class="search_address_1 active">
                              <button class="btn_graylight_ghost btn_full_thin txt_r">주소 검색</button>
                            </div>
                            <div class="search_address_2">
                              <button class="btn_graylight_ghost btn_full_thin txt_r" onclick="modal_open('address_search')">가(임시)주소 검색</button>
                            </div>
                            <div class="mt8 gap_14">
                                <input type="checkbox" name="temporary_address" id="temporary_address" value="Y">
                                <label for="temporary_address" class="gray_deep"><span></span> 가(임시)주소</label>

                                <input type="checkbox" name="unregistered" id="unregistered" value="Y">
                                <label for="unregistered" class="gray_deep"><span></span> 미등기</label>
                            </div>
                            <!----------------- M:: map : s ----------------->
                            <div class="inner_item inner_map only_m">
                                주소 검색 시,<br>해당 위치가 지도에 표시됩니다.
                            </div>
                            <!----------------- M:: map : e ----------------->
                            <div class="inner_address">
                              <div class="address_row">
                                <span>도로명</span>서울특별시 구로구 구로동 419-1
                              </div>
                              <div class="address_row">
                                <span>지번</span>서울특별시 구로구 구로동로 40길 2
                              </div>
                            </div>

                            <div class="detail_address_1 mt18 active">
                              <div class="flex_2">
                                <div class="flex_1">
                                  <input type="text">
                                  <span>동</span>
                                </div>
                                <div class="flex_1">
                                  <input type="text">
                                  <span>호</span>
                                </div>
                              </div>
                              <div class="mt8">
                                <input type="checkbox" name="address_no" id="address_no_1" value="Y">
                                <label for="address_no_1" class="gray_deep"><span></span> 동정보 없음</label>
                              </div>
                            </div>

                            <div class="detail_address_2 mt18">
                              <div>
                                  <input type="text" placeholder="건물명, 동/호 또는 상세주소 입력 예) 1동 101호">
                              </div>
                              <div class="mt8">
                                  <input type="checkbox" name="address_no" id="address_no_2" value="Y">
                                  <label for="address_no_2" class="gray_deep"><span></span> 상세주소 없음</label>
                              </div>
                            </div>
                            
                        </div>
                        <div class="inner_item inner_map only_pc">
                            주소 검색 시,<br>해당 위치가 지도에 표시됩니다.
                        </div>
                    </div>
                </div>

                <div class="step_btn_wrap">
                    <button class="btn_full_basic btn_graylight_ghost" onclick="location.href='estate_reg_1.html'">이전</button>
                    <!-- <button class="btn_full_basic btn_point" disabled>다음</button> 정보 입력하지 않았을때 disabled 처리 필요. -->
                    <button class="btn_full_basic btn_point" onclick="location.href='estate_reg_3.html'">다음</button>
                </div>

            </div>
        </div>
        <!-- my_body : e -->
    
    </div>

    <!-- modal 가(임시)주소 검색 : s-->
    <div class="modal modal_mid modal_address_search">
      <div class="modal_title">
        <h5>가(임시) 주소 검색</h5>
        <img src="images/btn_md_close.png" class="md_btn_close" onclick="modal_close('address_search')">
      </div>
      <div class="modal_container">
        <ul class="adress_select tab_toggle_menu">
          <li class="active"><span id="region_input_1">시/도</span></li>
          <li><span id="region_input_2">시/군/구</span></li>
          <li><span id="region_input_3">읍/면/동</span></li>
          <li><span id="region_input_4">리</span></li>
        </ul>
        <div class="tab_area_wrap adress_select_wrap  mt20">
          <div>
            <div class="point_sm_filter cell_4">
              <div class="cell">
                <input type="radio" name="region_1" id="region_1_1" value="Y"> 
                <label for="region_1_1">강원도</label>
              </div>
              <div class="cell">
                <input type="radio" name="region_1" id="region_1_2" value="Y"> 
                <label for="region_1_2">경기도</label>
              </div>
              <div class="cell">
                <input type="radio" name="region_1" id="region_1_3" value="Y"> 
                <label for="region_1_3">경상남도</label>
              </div>
              <div class="cell">
                <input type="radio" name="region_1" id="region_1_4" value="Y"> 
                <label for="region_1_4">광주광역시</label>
              </div>
              <div class="cell">
                <input type="radio" name="region_1" id="region_1_5" value="Y"> 
                <label for="region_1_5">대구광역시</label>
              </div>
              <div class="cell">
                <input type="radio" name="region_1" id="region_1_6" value="Y"> 
                <label for="region_1_6">세종특별자치시</label>
              </div>
            </div>
          </div>
          <div>
            <div class="point_sm_filter cell_4">
              <div class="cell">
                <input type="radio" name="region_2" id="region_2_1" value="Y"> 
                <label for="region_2_1">강남구</label>
              </div>
              <div class="cell">
                <input type="radio" name="region_2" id="region_2_2" value="Y"> 
                <label for="region_2_2">강동구</label>
              </div>
            </div>
          </div>
          <div>
            <div class="point_sm_filter cell_4">
              <div class="cell">
                <input type="radio" name="region_3" id="region_3_1" value="Y"> 
                <label for="region_3_1">개포동</label>
              </div>
              <div class="cell">
                <input type="radio" name="region_3" id="region_3_2" value="Y"> 
                <label for="region_3_2">논현동</label>
              </div>
            </div>
          </div>
          <div>
            <div class="point_sm_filter cell_4">
              <div class="cell">
                <input type="radio" name="region_4" id="region_4_1" value="Y"> 
                <label for="region_4_1">개곡리</label>
              </div>
              <div class="cell">
                <input type="radio" name="region_4" id="region_4_2" value="Y"> 
                <label for="region_4_2">개곡리</label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn_full_basic btn_point" disabled>검색</button>
        </div>
      </div>
    </div>
    <div class="md_overlay md_overlay_address_search" onclick="modal_close('address_search')"></div>
    <!-- modal 가(임시)주소 검색 : e-->

    <script>
      //가(임시)주소 클릭 이벤트
      document.getElementById("temporary_address").addEventListener("change", function() {
        var address_1 = document.querySelector(".detail_address_1");
        var address_2 = document.querySelector(".detail_address_2");
        var search_1 = document.querySelector(".search_address_1");
        var search_2 = document.querySelector(".search_address_2");

        if (this.checked) {
          address_1.style.display = "none";
          address_2.classList.add("active");
          search_1.style.display = "none";
          search_2.classList.add("active");
        } else {
          address_1.style.display = "block";
          address_2.classList.remove("active");
          search_1.style.display = "block";
          search_2.classList.remove("active");
        }
    });

    //가(임시)주소 선택하기
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll('label').forEach(function(label) {
        label.addEventListener("click", function() {
                  var index = label.getAttribute("for").split("_")[1]; // 인덱스 추출
                  var regionInputId = "region_input_" + index;
                  var span = document.getElementById(regionInputId);
                  span.textContent = label.textContent; // 클릭된 라벨의 텍스트를 span에 입력
              });
          });
      });
    </script>


    <!-- footer : s -->
    <footer>
      <div class="inner_wrap row">
        <div class="footer_info">
          언론보도 : gongsil_ntalk@naver.com<br>
          대표문의 : gongsil_ntalk@naver.com<br>
          상담문의 : 1600-5734
        </div>
        <div class="footer_info">
          주식회사 공실앤톡<br>
          대표 : 임요섭<i>|</i>사업자 등록 번호 : 291-81-02340<i>|</i>경기도 화성시 동탄기흥로557 금강펜테리움IT타워
        </div>
        <p class="copyright">Copyright ⓒ 주식회사 공실앤톡. All rights reserved.</p>
      </div>
    </footer>
    <!-- footer : s -->
</body>
</html>
